<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body">
      <add-banner [ads]="ads"></add-banner>
    </div>
    <!--<div class="panel-body"  >
        <div class="row" >
            <img src="./app/assets/images/swag.png" 
                 class="img-responsive center-block"
                 style="max-height:300px;padding-bottom:50px"/>
        </div>     
    </div>-->
</div>

<div style="position:absolute;width: 300px;height: 300px;z-index:1;top: 100px;left: 25%;background-color: wheat;box-shadow: 5px 5px 5px #888888;">
   
        <forbidden></forbidden>
 
</div>